Board/Service References/ServiceForSei/AdMaster.CommonModel.XmlD_S.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdMaster.CommonModel.XmlD_S.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdMaster.CommonModel.XmlD_S.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SpecimenModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Income" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marriage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecimenModel" nillable="true" type="tns:SpecimenModel" />
</xs:schema>